<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href=<%= links_path %> %>My links</a>
    </div>
    <div id="nav-user">
      <form class="form-inline pull-xs-right">
        <% if current_user %>
          Welcome <%= current_user.email %>. Your API key: <%= current_user.api_key %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :get, class: 'nav-link' %>
        <% else %>
          <%= link_to "Log in", user_session_path, class: 'nav-link' %>
          <%= link_to "Register", new_user_registration_path, class: 'nav-link' %>
        <% end %>
      </form>
    </div>
  </div>
</nav>
