<div class="container">
  <h1>Top 100 most visited links</h1>

  <%= link_to 'New Link', new_link_path, class: 'btn btn-success' %>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">URL</th>
      <th scope="col">Hits</th>
    </tr>
    </thead>
    <tbody>
    <% @top_links.each_with_index do |link, i| %>
      <tr>
        <td> <%= i + 1 %> </td>
        <td>
          <%= link_to link.url, target: :_blank do %>
            <%= link.url %>
          <% end %>
        </td>
        <td> <%= link.hits %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
