<div class="container">

  <h1>Links</h1>

  <%= link_to 'New Link', new_link_path, class: 'btn btn-success' %>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">URL</th>
      <th scope="col">Created at</th>
      <th scope="col">Code</th>
      <th scope="col">Hits</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @links.each do |link| %>
      <tr>
        <td> <%= link.id %> </td>
        <td> <%= link.url %> </td>
        <td> <%= link.created_at %> </td>
        <td>
          <a href="l/<%= link.code %>">
            <%= link.code %>
          </a>
        </td>
        <td> <%= link.hits %> </td>
        <td>
          <%= link_to 'Show', link %>
          <%= link_to 'Edit', edit_link_path(link) %>
          <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>
