<div class="container">
  <div class="p-5">
    <div class="card">
      <div class="card-body">
        <h5>Input your link:</h5>

        <%#= render 'form', link: @link %>

        <%= form_for @link, remote: true do |form| %>
          <%= form.text_field :url, class: "form-control"  %>
          <%= form.submit "Create", class: 'btn btn-primary mt-3' %>
        <% end %>

        <div id="short-link"></div>
        <%#= link_to 'Back', links_path %>
      </div>
    </div>
  </div>
</div>
